
img{
    width: 100%;
    border-radius: 25px;
}
.header-top{
    background-color: black;
}

.header-top img{
    width:150px;
    padding:5px;
}

.header-bottom{
    background-color: white;
}

.nav-link{
    color: black!important;
    cursor: pointer;
}

.nav-link i{
    color: rgb(160, 160, 160)!important;
}


.div-onclick{
    display: block;
    background-color: white;
    color: black;
    height: 150px;
}

.play{
    display: inline-block;
}

.play img{
    width: 50px;
}

.jumbo{
    margin-top:100px;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

.text img{
    width: 50%;
}

.height-100{
    height: 100%;
}

.btn:hover{
    border-style: inset 1px solid black;
}

li.dropdown:hover .dropdown-menu{
    display: block;
    width: 100%;
    left: 0;
}

.bright >img{
    filter: opacity(50%);
}

.bright:hover>img{
    filter: opacity(100%);
}


.assoluto-hover:hover{
    transform: translateY(-15px);
}

.due{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.jumbo-mini-due{
    background-color: rgb(29, 29, 29);
}

.plus{
    background-color: rgb(170, 170, 170);
}

.now{
    background-color: rgb(0, 0, 49);
}

footer{
    background-color: blue;
}

.footer-link ul {
    list-style-type:none ;
}

.footer-link ul li{
    color: white;
    text-decoration: none;
}
