.header-top{
    background-color: black;
}

.header-top img{
    width:150px;
}

.header-bottom{
    background-color: white;
}

.nav-link{
    color: black!important;
    cursor: pointer;
}

.nav-link i{
    color: rgb(160, 160, 160)!important;
}


.div-onclick{
    display: block;
    background-color: white;
    color: black;
    height: 150px;
}

.play{
    display: inline-block;
}

.play img{
    width: 50px;
}

.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
}

.text img{
    width: 90%;
}

.height-100{
    height: 100%;
}

.btn:hover{
    border-style: inset 1px solid black;
}
